@import "variables.less";
@import "mixins.less";


html{
	min-height: 100%;
	body {
		#gradient > .directional(@brand, @brandDark);
	}
}

.helper-text {
	font-size: 10px;
}


.hasDatepicker {
	width: 70px;
}